@theme-img-path: '../../../themes/@{theme}/img/';

#app{
    .headerPanel{
        a.imageBtn{

          &.first{
            background-image: url('@{theme-img-path}first.png');
          }

          &.prev{
            background-image: url('@{theme-img-path}prev.png');
          }

          &.next{
              background-image: url('@{theme-img-path}next.png');
          }

          &.last{
              background-image: url('@{theme-img-path}last.png') ;
          }
        }

        .options{
            .centerOptions{
                width: 390px;
            }
            .rightOptions{
                .settings{
                    //background: url('@{theme-img-path}hamburger.png');
                }
            }
        }
    }
}
